<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant app, restaurant list">
  <meta name="theme-color" content="#D84315"/>

  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <script defer src="https://kit.fontawesome.com/0d6ed94a1b.js" crossorigin="anonymous"></script>
  <!-- <script defer src="https://use.fontawesome.com/b070c8f1df.js"></script> -->

  <!-- <link rel="preload" fetchpriority="high" as="image" href="./images/heros/hero-image_2-small.jpg" type="image/jpg"> -->
  <!-- <link rel="preload" fetchpriority="high" as="image" href="./images/heros/hero-image_2-medium.jpg" type="image/jpg"> -->

  <title>Restaurant app</title>
</head>
<body>

  <a href="#mainContent" class="skip-link">Menuju ke konten</a>

  <header id="home">
    <div class="header-logo">
      <picture>
        <source media="(max-width: 600px)" srcset="./favicon-small.webp">
        <source media="(min-width: 601px)" srcset="./favicon-small.png">
        <img src='./favicon-small.png' alt="icon">
      </picture>
      <!-- <img src="./favicon-small.webp" alt="icon"> -->
      <h1 class="title">gurih nusantara</h1>
    </div>
    <div class="menu-container">
      <button id="menu" class="menu-icon">☰</button>
    </div>
    <nav id="drawer" class="nav">
      <ul>
        <li><a href="#/home">home</a></li>
        <li><a href="#/favorite">favorite</a></li>
        <li><a href="https://s.id/ariafatah">about us</a></li>
      </ul>
    </nav>
  </header>

  <section id="mainContent"></section>
  <footer-app></footer-app>

</body>
</html>