<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant app, restaurant list">
  <title>Restaurant app</title>
</head>
<body>

  <a tabindex="0" href="#explore" class="skip-link">Menuju ke konten</a>

  <header id="home">
    <div class="header-logo">
      <img src="./images/logo/logo.webp" alt="">
    </div>
    <div class="menu-container">
      <button id="menu" class="menu-icon">☰</button>
    </div>
    <nav id="drawer" class="nav">
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#explore">explore</a></li>
        <li><a href="#top-restaurant">top</a></li>
        <li><a href="#favorite">favorite</a></li>
        <li><a href="https://s.id/ariafatah">about us</a></li>
      </ul>
    </nav>
  </header>

  <hero-app class="hero"></hero-app>
  
  <main>
    <!-- explore -->
    <h1 tabindex="0" id="explore" class="title">explore restaurant</h1>
    <restaurant-list id="restaurant"></restaurant-list>
    
    <!-- top restaurant -->
    <h1 tabindex="0" id="top-restaurant" class="title">top restaurant</h1>
    <top-restaurant-list id="top-restaurant"></top-restaurant-list>

    <!-- favorite -->
    <h1 tabindex="0" id="favorite" class="title">favorite restaurant</h1>
  </main>

  <footer-app></footer-app>

</body>
</html>